<div class="container-fluid">
    <div class="header">
        <h1 class="text-center">Resources</h1>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-3 my-auto">
            <h3 class="text-center">Filter Resources:</h3>
        </div>
        <div class="col-md-3 mx-auto">
            <div class="btn-group" dropdown>
                <button dropdownToggle type="button" class="btn btn-secondary btn-lg dropdown-toggle">{{ddIndustriesTtl}} <span class="caret"></span></button>
                <ul *dropdownMenu class="dropdown-menu" role="menu">
                    <li *ngFor="let industry of industries | getKey" role="menuitem">
                        <button class="dropdown-item" (click)="toggleIndustry(industry)">{{industry}}</button>
                    </li>
                    <div class="dropdown-divider"></div>
                    <li role="menuitem"><button class="dropdown-item" (click)="toggleIndustry('Industries')">Clear</button></li>
                </ul>
            </div>
        </div>
        <div class="col-md-3 mx-auto">
            <div class="btn-group" dropdown>
                <button dropdownToggle type="button" class="btn btn-secondary btn-lg dropdown-toggle">{{ddServicesTtl}} <span class="caret"></span></button>
                <ul *dropdownMenu class="dropdown-menu" role="menu">
                    <li *ngFor="let service of services | getKey" role="menuitem">
                        <button class="dropdown-item" (click)="toggleService(service)">{{service}}</button>
                    </li>
                    <div class="dropdown-divider"></div>
                    <li role="menuitem"><button class="dropdown-item" (click)="toggleService('Services')">Clear</button></li>
                </ul>
            </div>
        </div>
        <div class="col-md-3 mx-auto">
            <div class="btn-group" dropdown>
                <button dropdownToggle type="button" class="btn btn-secondary btn-lg dropdown-toggle">{{ddSolutionsTtl}} <span class="caret"></span></button>
                <ul *dropdownMenu class="dropdown-menu" role="menu">
                    <li *ngFor="let solution of solutions | getKey" role="menuitem">
                        <button class="dropdown-item" (click)="toggleSolution(solution)">{{solution}}</button>
                    </li>
                    <div class="dropdown-divider"></div>
                    <li role="menuitem"><button class="dropdown-item" (click)="toggleSolution('Solutions')">Clear</button></li>
                </ul>
            </div>
        </div>
    </div>

    <hr>

    <div id="wrapper">
        <masonry [options]="masonryOptions">
            <div class="brick-sizer"></div>

            <masonry-brick class="brick" *ngFor="let resource of resources">
                <div *ngIf="resource.isVisible">
                    <a href="{{resource.link}}">
                        <div class="resources-links card">
                            <img class="card-img-top" src="{{resource.image}}" alt="Card image">
                            <div class="card-block">
                                <h5 class="card-title">{{resource.blurb}}</h5>
                            </div>
                        </div>
                    </a>
                </div>
            </masonry-brick>
        </masonry>
    </div>
</div>