$vistex-blue: #073156;
// Remove the underline for highlighted text
a:link {
    text-decoration: none;
}

.header {
    background-image: url("../../assets/case-studies.jpg");
    background-size: cover;
    color: #fff;
    height: 175px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: 20px;
}

.resources-links {
    margin-bottom: 30px;
}

.btn-group {
    display: flex;
    font-size: 3vw;
    margin: 0 auto;
    text-align: center;
    width: inherit;
    .btn {
        width: 100%;
        flex: 1;
    }
}

.card {
    // @include column-break-inside(avoid);
    background: #fff;
    border-style: hidden;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.2s cubic-bezier(.25, .8, .25, 1);
    &:hover {
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    }
}

masonry {
    margin: 0 auto;
    &:after {
        content: '';
        display: block;
        clear: both;
    }
}

masonry-brick {
    width: 314px;
    float: left;
}